.main_header {
    width: 100%;
    background-color: #2D3142;
}

.main_header .main_header_content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.main_header .main_header_content .logo {
    flex-basis: 330px;
    padding: 20px;
    width: 290px;
}

.main_header .main_header_content .main_header_content_menu {
    flex-basis: calc(100% - 330px);
    display: flex;
    justify-content: flex-end;
}

.main_header_content_menu ul {
    display: flex;
    align-items: stretch;
}

.main_header_content_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.main_header_content_menu ul li a {
    padding: 0 26px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #D36833;
}

.main_header_content_menu ul li a:hover {
    color: #FFF;
    background-color: #D36833;
    height: 40px;
    border-radius: 5px;
}

.main_cta {
    width: 100%;
    background-image: url('../_img/bg_main_home.png');
    background-color: #2D3142;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main_cta .main_cta_content {
    max-width: 1300px;
    margin: 0 auto;
}

.main_cta .main_cta_content h1 {
    font-size: 3em;
    color: #FFF;
    font-weight: 700;
    text-align: center;
}

.main_cta .main_cta_content p {
    font-size: 1.875em;
    color: #FFF;
    font-weight: 300;
    text-align: center;
    margin: 20px 0;
}

.main_cta .main_cta_content .btn {
    background-color: #D36833;
    color: #FFF;
    font-size: 0.8em;
    padding: 10px 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
}

.main_cta .main_cta_content .main_cta_content_spacer {
    margin: 0 auto;
    max-width: 1300px;
    padding: 160px 40px;
}