*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    text-decoration: 1em;
    box-sizing: border-box;
}

.radius {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.btn {
    padding: 8px 20px;
    font-weight: normal;
    margin: 0 4px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
}

.btn_green {
    background-color: #009933;
    color: #FFF;
}

.btn_green:hover {
    background-color: #00cc66;
}

.btn_red {
    background-color: #cc0000;
    color: #FFF;
}

.btn_red:hover {
    background-color: #ff3333;
}