/*
    identificador selector {
        propriedade: valor;
    }

    IDENTIFICADOR
    . = Classe
    # = ID

    SELECTOR
    p h1 ul li ... nome da classe/id

    Propriedades
    color, text-align, border, font-weight ...

    VALOR
    green, center, etc
*/

.main_blog {
    max-width: calc(1000px - 80px);
    width: calc(96% - 80px);
    background-color: #CCC;
    padding: 40px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_blog header {
    flex-basis: 100%;
}

.main_blog article {
    flex-basis: calc(50% - 40px - 20px);
    padding: 10px 20px;
    background-color: #333;
    color: #FFF;
    margin: 20px 0;
}

.main_blog article p {
    font-size: 1.1em;
}

.title_medium_lightgray {
    color: #CCC;
    font-size: 1.4em;
    font-weight: bold;
    border-bottom: 1px solid #CCC;
    padding-bottom: 4px;
}

@media (max-width: 640px) {
    .main_blog article {
        flex-basis: calc(100% - 40px);
    }
}